body {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0;
  padding: 0;
}

h4, h3 {
  margin-top: 0;
}

#products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em;
  gap: 2em;
  text-align: center;
}

#products-container > div {
  padding: 1em;
  border: solid 1px black;
  border-radius: 1em;
  height: fit-content;
}

#products-container button {
  margin: 0 0.5em;
}

.basket-container {
  padding: 1em;
  display: flex;
}

.basket-inner-container {
  border-left: solid 1px black;
  padding: 1em 5em;
}

td {
  padding: 0.5em 1em;
  border: solid 1px black;
}